@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-slides-content h2 {
        font-size: 50px
    }
    .hero-area .owl-dots {
        width: 930px
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-slides-content h2 {
        font-size: 50px
    }
    .hero-area .owl-dots {
        width: 690px
    }
    /*.hero-area,
    .single-hero-slide {
        height: 600px !important
    }*/
    .top-header-social-info a {
        margin-right: 10px
    }
    .navbar {
        padding: 0
    }
    .navbar-toggler {
        font-size: 14px;
        background-color: transparent;
        border: none;
        border-radius: 6px;
        height: 35px;
        margin: 33px 0;
        border: 2px solid #262626
    }
    #medicaMenu {
        margin-top: -2px;
        padding: 30px;
        background-color: #fff;
        z-index: 1002;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15)
    }
    .header-area .main-menu .nav-link {
        padding: 5px 15px
    }
    .header-search-form form input {
        width: 570px;
        margin-bottom: 15px
    }
    .medica-appointment-thumb,
    .medica-about-thumbnail,
    .medica-blog-sidebar-area {
        margin-top: 100px
    }
    .footer-menu li a {
        padding: 0 10px
    }
    .breadcumb-area {
        height: 200px
    }
    .contact-form {
        margin-bottom: 100px
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .top-header-area {
        height: auto;
        padding: 10px 0
    }
    .header-area {
        height: auto
    }
    .top-menu ul li a {
        padding: 0 5px;
        font-size: 12px
    }
    .top-header-social-info {
        margin-bottom: 10px;
        margin-left: 5px
    }
    .navbar {
        padding: 0
    }
    .navbar-toggler {
        font-size: 14px;
        background-color: transparent;
        border: none;
        border-radius: 6px;
        height: 35px;
        margin: 18px 0;
        border: 2px solid #262626
    }
    #medicaMenu {
        margin-top: -2px;
        padding: 30px;
        background-color: #fff;
        z-index: 1002;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15)
    }
    .header-area .main-menu .nav-link {
        padding: 5px 15px
    }
    .navbar-brand {
        max-width: 100px
    }
    .header-search-form form input {
        width: 100%;
        margin-bottom: 15px;
        font-size: 10px
    }
    .hero-slides-content h2 {
        font-size: 30px
    }
    .hero-area .owl-dots {
        width: 90%
    }
/*    .hero-area,
    .single-hero-slide {
        height: 500px !important
    }
*/  
    .hero-slides-content h5 {
        font-size: 16px
    }
    .hero-area .owl-prev,
    .hero-area .owl-next,
    .medica-testimonials-area .owl-prev,
    .medica-testimonials-area .owl-next {
        width: 30px;
        height: 30px;
        line-height: 26px;
        left: 20px;
        margin-top: -15px
    }
    .hero-area .owl-next,
    .medica-testimonials-area .owl-next {
        left: auto;
        right: 20px
    }
    .medica-btn {
        height: 50px;
        padding: 0 10px;
        line-height: 46px;
        font-size: 13px;
        min-width: 100px
    }
    .medica-btn:hover,
    .medica-btn:focus {
        font-size: 13px
    }
    .medica-about-text ul li {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%
    }
    .medica-appointment-thumb,
    .medica-about-thumbnail {
        margin-top: 100px
    }
    .section_heading h2 {
        font-size: 30px
    }
    .copywrite-text {
        text-align: center
    }
    .bottom-footer-area {
        padding: 15px 0;
        height: auto
    }
    .footer-menu li a {
        padding: 0 5px
    }
    .copywrite-text {
        margin-bottom: 10px
    }
    .main-header-area {
        height: 70px
    }
    .footer-menu ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center
    }
    .breadcumb-area {
        height: 150px
    }
    .cta-content {
        margin-bottom: 50px
    }
    .medica-services-sidebar-area,
    .contact-form {
        margin-bottom: 100px
    }
    .medica-blog-sidebar-area {
        margin-top: 100px
    }
    .single-pie-bar {
        margin-bottom: 30px
    }
}

/*new media queries for fixes*/
@media (max-width: 1080px) {
 
     .hero-slides-content h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .hero-slides-content h5 {
        font-size: 16px;
    }

    .hero-area .owl-prev, 
    .hero-area .owl-next, 
    .medica-testimonials-area .owl-prev, 
    .medica-testimonials-area .owl-next {
        height: 32px;
        width: 32px;
        font-size: 16px;
        border: 1px solid #000;
        color: #000;
        line-height: 34px;
        border-radius: 50%;
    }

    .slide-btn-group.mt-50 {
        margin-top: 20px;
    }

    .medica-btn {
        height: 40px;
        line-height: normal;
        padding: 10px 20px;
        font-size: 14px;
    }

    .hero-area .owl-prev {
        left: 15px;
    }

    .hero-area .owl-next {
        right: 15px;
    }

    .hero-slides-content {
        padding-left: 20px;
    }

    .header-area .main-menu .nav-link {
        padding: 0 10px;
    }

    .medica-contact-info-area {
        padding: 30px 0 0;
    }

    .single-contact-info {
        margin-bottom: 20px;
    }

    .medica-emergency-card, 
    .medica-doctors-card, 
    .medica-appointment-card, 
    .medica-department-card, 
    .medica-contact-card, 
    .medica-catagories-card, 
    .latest-news-widget-area {
        padding: 25px 15px;
    }

    .medica-emergency-card p, .medica-doctors-card p {
        margin-bottom: 15px;
    }

    .section_padding_100 {
        padding: 50px 0;
    }

    .medica-about-text h2 {
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 34px;
    }

    .medica-about-text p:last-of-type {
        margin-bottom: 20px;
    }

    .medica-about-text ul li {
        padding-left: 20px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .medica-about-text ul li:before {
        top: 6px;
    }

    .medica-about-text ul {
        margin-bottom: 20px;
    }

    .section_heading h2 {
        font-size: 24px;
    }

    .section_heading {
        margin-bottom: 35px;
    }

    .single-service-area h5 {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .single-service-area img {
        margin-bottom: 20px;
        min-height: 40px;
    }

    .single-service-area p {
        font-size: 12px;
    }

    .single-service-area {
        margin-bottom: 40px;
    }

    .section_padding_100_20 {
        padding: 40px 0;
    }

    .doctor-meta a {
        margin-left: 0;
    }

    .doctor-meta h5 {
        text-align: left;
    }

    .centertext div {
        height: auto;
    }

    .see-all-doctors {
        padding-top: 30px;
    }

    .section_heading {
        margin-bottom: 20px;
    }

    .section_padding_50_0 {
        padding-top: 40px;
    }

    .single-cool-fact {
        padding-bottom: 30px;
    }

    .section_padding_100_0 {
        padding: 40px 0;
    }

    .medica-our-partners-area.section_padding_100 {
        padding: 0;
    }

    .widget-title {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .widget-contact-thumbnail {
        margin-right: 0;
    }

    .footer-area .section_padding_100 {
        padding-bottom: 20px;
    }

    .copywrite-text p {
        color: #fff;
    }

    .footer-menu li a {
        padding: 0 10px;
        color: #fff;
    }

    .medica-testimonials-area .owl-prev {
        left: 15px;
    }

    .medica-testimonials-area .owl-next {
        right: 15px;
    }

    .height-800 {
        height: 350px !important;
    }
    .main-header-area {
        height: auto;
    }

    .navbar {
        margin-bottom: 0;
    }

    .main-menu {
        padding: 10px 0;
    }
    .top-header-social-info .col-md-6 h5 {
        padding-top: 15px;
    }
    .goog-te-banner-frame {
        display: none !important;
    }
    body.page-md.login {
        top: 0 !important;
    }
}

@media (max-width: 991px) {

    .logo-text h1 {
        font-size: 16px;
        float: none;
    }

    .logo-text {
        width: auto;
        max-width: 200px;
        float: none;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
    }

    .navbar-toggler {
        font-size: 12px;
        margin: 0;
    }

    button.navbar-toggler {
        position: absolute;
        right: 0;
        top: 7px;
    }

    nav.navbar {
        display: block;
        vertical-align: top;
    }

    nav.navbar:after,
    nav.navbar:before {
        display: table;
        content: "";
    }

    nav.navbar:after {
        clear: both;
    }

    .logo-text:after,
    .logo-text:before {
        display: table;
        content: "";
    }

    .logo-text:after {
        clear: both;
    }

    .main-menu {
        padding: 5px 0;
    }

    div#stickyHeader {
        position: static !important;
    }

    .navbar-brand {
        max-width: 100%;
    }

    #stickyHeader-sticky-wrapper {
        height: auto !important;
    }
    .hero-slides-content {
        padding-left: 40px;
    }
    #medicaMenu {
        padding: 8px;
        position: absolute;
        width: 100%;
        max-width: 220px;
        right: 0;
        top: 110%;
    }

    ul.navbar-nav {
        margin: 0;
        float: none;
    }

    .navbar-nav li {
        padding: 6px 0;
    }

    #medicaMenu:after {
        content: "";
        position: absolute;
        height: 14px;
        width: 14px;
        background: #fff;
        top: -9px;
        right: 2px;
        transform: rotate(45deg);
        border: 1px solid #cccccc38;
        border-right: 0;
        border-bottom: 0;
    }
    .navbar-brand .col-md-6 {
        float: left;
    }

    .navbar-brand .side-crop.col-md-6 {
        float: left;
    }
    .medica-about-thumbnail {
        max-height: 240px;
        max-width: 200px;
        margin: 0 auto;
    }

    .medica-about-thumbnail img {
        max-width: 100%;
        max-height: 100%;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.show {
        display: block !important;
    }
    .container {
        width: 100%;
        max-width: 100%;
    }
    .top-header-social-info {
        display: block;
        width: 100%;
    }

    .top-header-menu {
        display: block;
        width: 100%;
    }

    .h-100.d-md-flex {
        display: block !important;
    }

    .top-header-area {
        height: auto;
        padding: 10px 0 0;
    }


}

@media (max-width: 767px) {

    .navbar-brand .col-md-6 {
        float: none;
    }

    .navbar-brand .side-crop.col-md-6 {
        float: none;
    }

    
    .hero-slides-content h2 {
        font-size: 24px;
    }

    .hero-slides-content h5 {
        font-size: 14px;
    }

    .section_padding_100 {
        padding: 30px 0;
    }

    .medica-appointment-thumb, 
    .medica-about-thumbnail {
        margin-top: 40px;
    }

    

    .section_padding_50_0 {
        padding-top: 30px;
    }

    .medica-appointment-thumb {
        max-width: 300px;
        margin: 0 auto;
    }

    .medica-book-an-appointment-area.section_padding_100_0 {
        padding-bottom: 0;
    }

    .footer-menu li a {
        font-size: 10px;
    }

    .copywrite-text p {
        font-size: 12px;
    }

    .copywrite-text {
        margin-bottom: 5px;
    }

    .single-cool-fact .counter-area h2 {
        font-size: 24px;
    }

    .single-cool-fact {
        padding-bottom: 20px;
    }

    .single-contact-info .mr-30 {
        margin-right: 20px;
    }

    .medica-emergency-card h4 {
        margin-bottom: 10px;
    }

    .single-service-area {
        margin-bottom: 30px;
    }

    .side-crop {
        display: none;
    }


}   


@media (max-width: 480px) {


    .medica-book-an-appointment-area .medica-appointment-card {
        padding: 20px;
    }
    .footer-menu li a {
        margin: 4px 0;
    }
}    